@import "~bootstrap/scss/bootstrap.scss";

.redTraffic{
    background-color: red;
    width: 50px;
    height: 50px;
}
.yellowTraffic{
    background-color: yellow;
    width: 50px;
    height: 50px;
}
.greenTraffic{
    background-color: green;
    width: 50px;
    height: 50px;
}